.layout {
  width: 100%;
  height: 100%;

  nz-sider {
    height: 100%;
    flex: 0 0 20% !important;
    max-width: 20% !important;
    min-width: 20% !important;
    width: 20% !important;

    background-color: #1C1D21;

  }
.content-layout{
  width: 70%;
  nz-header{
    background: none;
    height: 15%;
    margin-top: 2rem;
  }
  background: linear-gradient(to top right, #658147, #151B0F);

}
}

