<div class="container">
  <h2 class="text-white px-20 text-4xl font-normal">Feed<span class="font-bold">back</span></h2>
  <p class="px-20 text-white py-5">Do you have anything to say?</p>
  <div class="px-20 w-[40%]">
    <textarea class="w-full h-[150px] !bg-white rounded-xl items-center text-left"
              placeholder="Write down your thoughts...."></textarea>
  </div>
  <button
    class="w-[40%] bg-[#1C1D21] text-white py-3 rounded-2xl font-medium transition cursor-pointer mx-20 mt-5">
    Send
  </button>

</div>
