<div class="container ">
  <h2 class="text-white px-20 text-4xl font-normal">Personal <span class="font-bold"> Information </span></h2>
   <div class="w-[50%] text-white h-full pl-20">

    <div class="mb-4">
      <p class="text-sm font-semibold">Email Address</p>
      <span class="block mt-1 pb-1 border-b border-[#E5E7C6] text-sm">
        valera.aronjohnsmith@dnsc.edu.ph
      </span>
    </div>

    <div class="mb-4">
      <p class="text-sm font-semibold">Password</p>
      <span class="block mt-1 pb-1 border-b border-[#E5E7C6] text-sm tracking-widest">
        ********
      </span>
    </div>

    <div class="mb-4">
      <p class="text-sm font-semibold">First Name</p>
      <span class="block mt-1 pb-1 border-b border-[#E5E7C6] text-sm">
        Marvin Ken
      </span>
    </div>

    <div class="mb-4">
      <p class="text-sm font-semibold">Last Name</p>
      <span class="block mt-1 pb-1 border-b border-[#E5E7C6] text-sm">
        Tumando
      </span>
    </div>

    <div class="mb-10">
      <p class="text-sm font-semibold">Phone Number</p>
      <span class="block mt-1 pb-1 border-b border-[#E5E7C6] text-sm">
        09123456789
      </span>
    </div>

    <button
      class="w-full bg-[#1C1D21] text-white py-3 rounded-md font-medium transition cursor-pointer">
      Update
    </button>

  </div>
</div>
